@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Raleway:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

@font-face {
    font-family: blockyFont;
    src: url("/public/fonts/customblockfont.ttf");
}


html {
    background: #EEEEEE url('/public/images/peng-bg.png') no-repeat center center fixed;
    transition: 0.25s background;
    /* background-color: #EEEEEE; */
    background-size: cover;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

/* "window" design */
body {
    max-width: 1100px;
    padding: 10px 30px;
    padding-bottom: 20px;
    margin: 20px auto;
    margin-bottom: 40px;
    background-color: white;
    filter: drop-shadow(10px 10px 0px grey);
    border: 1px solid grey;
    border-radius: 1rem;
    height: fit-content;

}

h1 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 5em;
    margin: 10px 0px;
    /* background-color: black; */
    /* color: white; */
    padding: 1.25rem;
    border-radius: 2rem;
    width: fit-content;
}

span.version-subtitle {
    font-size: 0.4em;
    color: lightslategrey;
}

/* nav */

#logo-img {
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-top: 15px;
}

nav ul {
    margin-left: -20px;
}


nav li {
    position: relative;
    display: inline-block;
    margin: 20px 5px;
    filter: drop-shadow(5px 5px 0px grey);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #2b2b2b;
    background: #ebebeb;
    transition: 0.1s;
}

nav li:active {
    filter: drop-shadow(3px 3px 0px grey);
    transform: translate(2px, 2px);
}

nav .highlighted {
    border: 2px solid black;
    background-color: #ff6666;
}

nav li span {
    position: absolute;
    left: 0px;
    top: -30px;
    width: 100px;
    font-size: 0.8em;
    text-align: center;
    background-color: white;
    color: black;
    font-family: blockyFont, sans-serif;
}

nav li:hover {
    background-color: whitesmoke;
}

nav a {
    text-decoration: none;
}

.above-line-bg-gif {
    height: 12em;
    margin-top: -10em;
    margin-left: 20%;
    margin-bottom: -5em;
    width: 80%;
    opacity: 0.4;
}

@media screen and (max-width: 700px) {

    nav {
        width: 100%;
    }
    
    nav img {
        margin: 0rem auto;
    }

    nav li {
        width: 100%;
        margin: 0rem auto;
        border-radius: 0rem;
        text-align: center;
    }

    nav ul {
        width: 100%;
        margin-left: -60px;
    }

}
/* flex boxes */

.sideways-flex {
    display: flex;
}

.sideways-flex section {
    padding: 20px;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 850px) {
    .sideways-flex {
        flex-wrap: wrap;
    }

    .other-elements {
        width: 100%;
    }
}
/* index page elements */


.link-list {
    list-style: "";
    display: flex;
    margin-left: -30px;
    flex-wrap: wrap;
}

.link-list li {
    display: inline-block;
    border-radius: 1rem;
    padding: 10px 10px;
    margin: 10px;
    background-color: whitesmoke;
    transition: 0.1s;
    border: 2px solid #2b2b2b;
    filter: drop-shadow(5px 5px 0px grey);
}

.link-list li:hover {
    background-color: #ebebeb;
    transform: scale(1.05);
}

.link-list a {
    text-decoration: none;
    color: black;
}

.bold-paragraph-title {
    font-weight: bold;
    font-style: normal;
    font-size: 1.2em;
}

.link-list li a {
    color: black;
}

.link-icon {
    width: 2rem;
    margin: 0px 5px;
    filter: brightness(0%);
}

/* "cards" i guess */

.box-card {
    filter: drop-shadow(10px 10px 0px #2b2b2b);
    border: 2px solid black;
    background-color: white;
    padding: 10px 20px;
    margin: 20px;
}

.projects-button {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    filter: drop-shadow(5px 5px 0px grey);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #2b2b2b;
    background: #ebebeb;
    transition: 0.1s;
}

.projects-button:hover, .projects-button:focus {
    transform: scale(1.05);
}

#personal-info {
    flex-grow: 1;
    min-width: 35%;
}

.resume-icon {
    margin: 0px;
    margin-right: 1rem;
    width: 2rem;
    line-height: 0rem;
}

.bold-download-link {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    flex-grow: 1;
}

.resume-exclamation {
    position: absolute;
    font-weight: bold;
    color: #CCCCCC;
    font-size: 1.35em;
    user-select: none;
    z-index: -1;
}

.left-exclamation {
    left: 90px;
    top: 10px;
    transform: rotate(-20deg);
}

.right-exclamation {
    right: 15px;
    bottom: 15px;
    transform: rotate(10deg);
}

@keyframes shrink-grow {
    0% {
        transform: scale(0.9, 0.9);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(0.9, 0.9);
    }
}

.limited-edition {
    position: absolute;
    top: -50px;
    right: 0px;
    width: 80px;
    animation-name: shrink-grow;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/* Project grid, filter stuff */
#projects-filter-bar {
    display: inline-block;
    width: 5rem;
    padding: 10px;
    margin: 0px;
}

#projects-filter-bar ul {
    list-style: none;
    margin-left: -40px;
}

.filter-indicator {
    width: 8rem;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

#projects-filter-bar li {
    border-radius: 1rem;
    padding: 10px;
    margin: 10px auto;
    cursor: pointer;
    text-align: center;
    border: 2px solid white;
}

#projects-filter-bar p {
    margin: 10px 0px;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

#projects-filter-bar li:hover {
    background-color: #ebebeb;
}

#projects-filter-bar .highlighted-category {
    border: 2px solid grey;

}

.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.featured-project {
    overflow: hidden;
    margin: 10px 20px;
    padding: 30px;
    background-color: purple;
    color: white;
    border-radius: 10px;
}

.featured-project .projects-button {
    font-size: 1.25em;
    margin: 0px 10px;
    color: black;
}

.featured-project-title {
    margin: 0px;
    margin-left: -30px;
    margin-top: -30px;
    margin-bottom: 10px;
    padding: 10px;
    padding-right: 40px;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    display: inline-block;
    background-color: #350049;
}

.featured-project-text {
    margin: 0px 10px;
}

.featured-project-text a {
    color: lightblue;
}

.project-card-banner {
    display: block;
    height: 150px;
    width: 125%;
    margin-left: -2.5rem;
    margin-top: -10%;
    object-fit: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    border-bottom: 2px solid black;
}

.featured-project-img {
    width: 400px;
    border-radius: 1rem;
}

.featured-project-vid {
    width: 400px;
    border-radius: 1rem;
}

.tools-list {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}

.tools-list li {
    display: inline-block;
    background-color: #2b2b2b;
    color: white;
    padding: 2px 4px;
    font-size: 0.75em;
    margin: 2px;
}

.project-card {
    position: relative;
    border-radius: 20px;
    background-color: #ebebeb;
    margin: 10px;
    color: black;
    height: 225px;
    width: 15rem;
    text-align: left;
    overflow: hidden;
    transition: 0.2s;
    text-decoration: none;
    display: flex;
        flex-direction: column;
        justify-content: flex-start;
}

.project-card h3 {
    margin-bottom: 0px;
    margin-top: 15px;
}

.project-card h4 {
    margin-top: 0px;
    font-weight: lighter;
    font-size: 0.8em;
}

#index-projects a {
    width: 30%;
    height: 300px;
}

#index-projects a .project-card-banner {
    height: 200px;
}

.project-card .in-progress {
    position: absolute;
    display: inline-block;
    top: -20px;
    left: 0px;
    padding: 10px;
    padding-right: 20px;
    width: 40%;
    background-color: black;
    color: white;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}

.project-card:hover, .project-card:focus {
    background-color: white !important;
    cursor: pointer;
    color: black;
    transform: translate(0rem, -0.25rem);
}

/* Section for project writeup includes */

.project-title {
    font-size: 2em;
    border-left: 5px solid black;
    padding-left: 10px;
}

blockquote {
    background-color: lightgrey;
    border-left: 4px solid grey;
    padding: 10px;
}

.project-info-gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.project-info-gallery img {
    max-width: 470px;
}

.project-info-gallery video {
    width: 470px;
    flex-grow: 1;
}

.project-info-gallery .small {
    max-width: 100px;
}

.project-info-gallery .medium {
    max-width: 200px;
}

.project-info-gallery .large {
    max-width: 100%;
    flex-grow: 1;
}

.project-info-gallery .rounded {
    border-radius: 10px;
}

.project-info-gallery figcaption {
    padding: 10px;
    font-size: 0.8em;
    width: 450px;
    background-color: lightgrey;
}

.catalog {
    position: relative;
    padding: 0px;
}

.catalog .thumbnail {
    width: 150px;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
    padding: 0px !important;
    transition: 0.1s;
}

.catalog .thumbnail:hover {
    transform: scale(1.05);
}

.catalog-thumbnail-flex {
    display: flex;
    flex-direction: row;
}

.catalog .thumbnail img {
    height: 100%;
    object-fit: cover;
    transform: translate(-20%, 0%);
}

.catalog .expanded {
    height: 500px;
}

.catalog .expanded img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    margin: 0px auto;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.catalog .expanded figcaption {
    position: absolute;
    display: block;
    right: 0px;
    width: 350px;
}

.catalog .thumbnail figcaption {
    display: none;
}

.project-img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
}

.music-player {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.music-player img {
    width: 40%;
    height: 40%;
    image-rendering: crisp-edges;
    border: 5px solid black;
}

.music-player .music-player-tracks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.music-player .music-player-tracks audio {
    padding: 10px;
}

.music-player .music-player-tracks label {
    padding-left: 10px;
}

.self-picture {
    margin: auto;
    width: 85%;
    padding: 20px;
    border-radius: 50%;
}

/* tablet */

@media (max-width: 1000px) {

    .self-picture {
        margin: 0rem auto;
    }

    .project-info-gallery figure img {
        max-width: 100%;
    }

    .project-info-gallery .small {
        padding: 2px;
        max-width: 30%;
    }

    .project-info-gallery .medium {
        padding: 2px;
        max-width: 30%;
    }

    .project-info-gallery .large {
        padding: 2px;
        max-width: 100%;
    }

    .project-info-gallery figcaption {
        padding: 2px;
        width: 100%;
    }

    .project-cards {
        grid-template-columns: 1fr 1fr;
    }

    .project-card {
        width: 80%;
    }
}


@media (max-width: 850px) {

    .project-cards {
        grid-template-columns: 1fr;
    }

    .project-card {
        width: 100% !important;
            flex-direction: row;
            padding: 0px;
            height: 200px !important;
        }
        
        .filter-indicator {
            display: none;
        }
        
        .project-card-banner {
            height: 100%;
            width: 60%;
            object-fit: cover;
            margin: 0px;
            margin-right: 1rem;
        }
        
        #projects-filter-bar {
            width: 90%;
            margin: 1rem;
        }
        
        #projects-filter-bar ul {
            display: flex;
            flex-direction: row;
        }
        
        #projects-filter-bar li {
            display: inline-block;
        }
        
        #sticky-filter-sidebar {
            width: 100%;
        }
        
        .featured-project-vid {
            width: 100%;
            margin-top: 1rem;
    }
}

/* General smartphone styles */
@media screen and (max-width: 45rem) {

    body {
        margin: 0rem;
        border-radius: 0rem;
        border: none;
    }

    h1 {
        font-size: 3rem;
    }
}